/datasets
/Dia 1
/Dia 10
/Dia 11
/Dia 12
/Dia 13
/Dia 14
/Dia 15
/Dia 16
/Dia 2
/Dia 3
/Dia 4
/Dia 5
/Dia 7
/Dia 8
/Dia 9
/Inventario_Farmacia_01_01_23.xls
/Inventario_Farmacia_01_02_23.xls
/Lectura
/Metricas.xlsx
/test.xlsx